[package]
name = "hsarec"
version = "0.1.0"
authors = ["Curtion <curtion@126.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
systray = "0.4.0"
webbrowser = "0.5.5"